	</div><!-- /.ui.container-->
	<script src="<%= process.env.HOWLER_URL %>" integrity="sha256-QX4/AXuyOeg4mIyJz3fZ9c1St34LbN2zJfPv9wgyjGo=" crossorigin="anonymous"></script>
	<script src="/scripts/main.js"></script>
</body>
</html>