<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pokedex App</title>
	<link rel="stylesheet" href="<%= process.env.SEMANTIC_URL %>" integrity="sha256-/Z28yXtfBv/6/alw+yZuODgTbKZm86IKbPE/5kjO/xY=" crossorigin="anonymous" />
	<link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>

	<div class="ui inverted top attached menu">
		<a class="item" href="/">Home</a>
		
		<div class="right menu">
			<a class="item" href="/pokemon">Pokemon</a>
		</div>
	</div>

	<div class="ui container">
	